<div class="col-md-3" id="sidebar-left">
    <div class="container mx-auto">

        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start " id="menu">
            <li class="nav-item">
                <a href="/category" class="nav-link align-middle px-0 text-dark"
                    style="color:{{inCategory}} !important;">
                    <i class="fa-regular fa-rectangle-list"></i> <span
                        class="ms-1 d-none d-sm-inline text-decoration-none">Quản lý chuyên mục</span>
                </a>
            </li>
            <hr>
            <li class="nav-item">
                <a href="/tag" class="nav-link align-middle px-0 text-dark" style="color:{{inTag}} !important;">
                    <i class=" fa-solid fa-tag"></i> <span class="ms-1 d-none d-sm-inline text-decoration-none">Quản lý
                        nhãn</span>
                </a>
            </li>
            <hr>
            <li class="nav-item">
                <a href="/post" class="nav-link align-middle px-0 text-dark" style="color:{{inPost}} !important;">
                    <i class="fa-solid fa-newspaper"></i> <span
                        class="ms-1 d-none d-sm-inline text-decoration-none">Quản lý bài viết</span>
                </a>
            </li>
            <hr>
            <li class="nav-item">
                <a href="/user/subscriber-admin" class="nav-link align-middle px-0 text-dark"
                    style="color:{{inUser}} !important;">
                    <i class="fa-solid fa-users"></i> <span class="ms-1 d-none d-sm-inline text-decoration-none">Quản lý
                        người dùng</span>
                </a>
            </li>
            <hr>
            <li class="nav-item">
                <a href="/user/subscriber-admin" class="nav-link align-middle px-0 text-dark"
                    style="color:{{inSub}} !important;">
                    <i class="fa-solid fa-arrow-right-to-bracket"></i></i> <span
                        class="ms-1 d-none d-sm-inline text-decoration-none">Độc giả</span>
                </a>
            </li>
            <hr>
            <li class="nav-item">
                <a href="/user/editor-admin" class="nav-link align-middle px-0 text-dark"
                    style="color:{{inEditor}} !important;">
                    <i class="fa-solid fa-arrow-right-to-bracket"></i></i><span
                        class="ms-1 d-none d-sm-inline text-decoration-none">Biên tập viên</span>
                </a>
            </li>
            <hr>
            <li class="nav-item">
                <a href="/user/writer-admin" class="nav-link align-middle px-0 text-dark"
                    style="color:{{inWriter}} !important;">
                    <i class="fa-solid fa-arrow-right-to-bracket"></i></i> <span
                        class="ms-1 d-none d-sm-inline text-decoration-none">Phóng viên</span>
                </a>
            </li>

        </ul>
    </div>
</div>