<a href="/news/{{id}}">
    <div class="small-article">
        <div class="small-article__image-and-category">
            <img src="{{tinyImagePath}}" width="100%" height="120px" alt="{{title}}">
            <span style="background-color: {{badgeColor}};">{{SubCategory.name}}</span>
        </div>
        <div class="small-article__title-and-date">
            <a href="/news/{{id}}">{{title}}</a>
            <p>{{updatedAtString}}</p>
        </div>
    </div>
</a>