<div class="wide-article">
    <a href="/news/{{id}}"><img src="{{tinyImagePath}}" width="200px" height="150px" alt="{{title}}" /></a>
    <div class="wide-article__text">
        <span style="background-color: {{badgeColor}};">{{SubCategory.name}}</span>
        <a href="/news/{{id}}">{{title}}</a>
        <p>{{updatedAtString}}</p>
    </div>
</div>