<div class="carousel-overlay-content">
    <a href="/news?subCategoryId={{SubCategory.id}}">
        <div class="category-badge" style="background-color: {{badgeColor}};">{{SubCategory.name}}</div>
    </a>
    <a href="/news/{{id}}">
        <h2 class="homepage__carousel-item-title">{{title}}</h2>
    </a>
    <p>{{Writer.pseudonym}} - {{updatedAtString}}</p>
</div>
<div class="carousel-blackcover"></div>
<img src="{{largeImagePath}}" width="100%" height="100%" class="d-block" alt="{{title}}" />