<div class="user-account-navigation">
    <div class="user-account-navigation__info">
        <div class="user-account__profile-picture-container">
            {{#if authenticatedUser.avatarPath}}
            <img src="{{authenticatedUser.avatarPath}}" width="150px" alt="">
            {{else}}
            <img src="/images/default-user-icon.jpg" width="150px" alt="">
            {{/if}}
            {{#if accountPage}}
            <form class="user-account__change-picture" action="/account/uploadAvatarImage" method="post" enctype="multipart/form-data" title="Cập nhật ảnh đại diện">
                <i class="fa-solid fa-camera" style="width: 25px; height: 25px;"></i>
                <input type="file" accept="image/*" name="avatar" onchange="avatarChangeHandler(this)" hidden>
                <input type="submit" hidden>
            </form>
            {{/if}}
        </div>
        {{#if authenticatedUser.isPremium}}
        <span>Premium</span>
        {{else}}
        <span class="user-account-premium-expired">Premium</span>
        {{/if}}
        <small>{{authenticatedUser.premiumExpiredTimeString}}</small>
    </div>
    <div class="user-account-navigation__function">
        <a href="/account">
            {{#if accountPage}}
            <div class="user-account__function user-account__function--active">
                <i class="fa-solid fa-user" style="width: 30px; height: 30px;"></i>
                <p>Thông tin tài khoản</p>
            </div>
            {{else}}
            <div class="user-account__function">
                <i class="fa-solid fa-user" style="width: 30px; height: 30px;"></i>
                <p>Thông tin tài khoản</p>
            </div>
            {{/if}}
        </a>
        <a href="/account/change-password">
            {{#if changePasswordPage}}
            <div class="user-account__function user-account__function--active">
                <i class="fa-solid fa-lock" style="width: 30px; height: 30px;"></i>
                <p>Đổi mật khẩu</p>
            </div>
            {{else}}
            <div class="user-account__function">
                <i class="fa-solid fa-lock" style="width: 30px; height: 30px;"></i>
                <p>Đổi mật khẩu</p>
            </div>
            {{/if}}
        </a>
        <a href="/account/premium">
            {{#if premiumPage}}
            <div class="user-account__function user-account__function--active">
                <i class="fa-solid fa-gem" style="width: 30px; height: 30px;"></i>
                <p>Tài khoản Premium</p>
            </div>
            {{else}}
            <div class="user-account__function">
                <i class="fa-solid fa-gem" style="width: 30px; height: 30px;"></i>
                <p>Tài khoản Premium</p>
            </div>
            {{/if}}
        </a>
    </div>
    <div class="user-account-navigation__logout">
        <a href="/auth/logout">
            <div class="user-account__function">
                <i class="fa-solid fa-right-from-bracket" style="width: 30px; height: 30px;"></i>
                <p>Đăng xuất</p>
            </div>
        </a>
    </div>
</div>
<script>
    document.querySelector('.user-account__change-picture').addEventListener('click', event => {
        document.querySelector('.user-account__change-picture [type=file]').click();
    })

    const avatarChangeHandler = (input) => {
        if (input.files && input.files[0]) {
            let reader = new FileReader();

            reader.onload = (event) => document.querySelector('.user-account__change-picture [type=submit]').click();

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>