<main>
    <div class="container">
        <div class="row">
            {{> admin-left-sidebar}}

            <!-- Sidebar bên phải -->
            <div class="col-md-9" id="sidebar-right">
                <a href="#" class="nav-link fw-bold px-0"> Danh sách chuyên mục</a>

                <div class="container mt-3">
                    <!-- Hàng đầu tiên với box search và nút thêm -->
                    <div class="row mb-3 header">
                        <div class="col-md-8 header__search d-flex direction-row">
                            <input type="text" class="form-control " placeholder="Tìm kiếm..." required
                                onkeyup="filter(this.value)">
                            <button class="btn btn-primary ms-3 float-end" type="button">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                        <div class="col-md-4 header__add-button">
                            <button class="btn btn-primary float-end mx-2 add-btn" data-bs-toggle="modal"
                                data-bs-target="#addCatModal">Thêm mới</button>
                            <button class="btn btn-primary float-end" onclick="deleteSelectedRows()">Xoá</button>
                        </div>
                    </div>

                    <!-- Bảng danh sách -->
                    <table class="table list">
                        <thead>
                            <tr>
                                <th class="list__header" style="width: auto;">Chọn</th>
                                <th class="list__header" style="width: auto;">Tên</th>
                                <th class="list__header" style="width: 14%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each categories}}
                            <tr class="list__item">
                                <td class="list__check"><input type="checkbox" name="select-category" value="{{id}}">
                                </td>
                                <td class="list__cat"><a href="/category/{{id}}?name={{name}}"
                                        class="text-decoration-none text-dark">{{name}}</a></td>
                                <td class="list__actions text-end">
                                    <div class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#edit-modal"
                                        onclick="openEditModal({{id}}, '{{name}}')"><i class="fa-solid fa-pen"></i>
                                    </div>
                                    <div class="btn btn-danger" onclick="deleteRow({{id}})"><i
                                            class="fa-solid fa-trash"></i></div>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>

                    <div class="row">
                        <!-- Pagination -->
                        <div class="col-md-12 mt-4">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    {{{createPagination pagination paginationClass="pagination justify-content-center"
                                    leftText="Previous" rightText="Next"}}}
                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Modal chỉnh sửa -->
    <div class="modal fade" id="edit-modal" tabindex="-1" aria-labelledby="edit-modal-cat" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="edit-modal-cat">Chỉnh sửa chuyên mục</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="edit-modal-name" class="form-catagory">Tên chuyên mục</label>
                        <input type="text" id="edit-modal-name" class="form-control"
                            placeholder="Hãy nhập tên chuyên mục">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary" onclick="saveEdit()"
                        data-bs-dismiss="modal">Lưu</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal thêm mới-->
    <div class="modal fade" id="addCatModal" tabindex="-1" aria-labelledby="addCatModalcat" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCatModalcat">Thêm chuyên mục mới</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="catName" class="form-catagory">Tên</label>
                            <input type="text" class="form-control" id="catName" name="catName"
                                placeholder="Hãy nhập tên chuyên mục">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary" id="addcatBtn" onclick="AddedTag()"
                        data-bs-dismiss="modal">Thêm</button>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <!-- place footer here -->
</footer>

<!-- Tim kiem tag -->
<script>
    function filter(keyword) {
        keyword = keyword.toLowerCase();
        document.querySelectorAll('.list__cat').forEach(item => {
            if (item.innerText.toLowerCase().indexOf(keyword) >= 0) {
                item.parentElement.style.display = "";
            }
            else
                item.parentElement.style.display = 'none';
        });
    }

</script>

<!-- xoa tag -->
<script>
    async function deleteRow(id) {
        if (confirm("Bạn có chắc chắn muốn xóa nhãn này?")) {
            let res = await fetch('/category', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                },
                body: JSON.stringify({
                    id
                })
            });
            if (res.status == 200) {
                window.location.reload();
            }
        }

    }
</script>
<!-- Xoa cac tag duoc chon -->
<script>
    // Khai báo biến lưu danh sách các dòng đã chọn
    let selectedRows = [];

    // Hàm xóa các dòng được chọn
    async function deleteSelectedRows() {
        // Lấy danh sách các hàng trong bảng
        const rows = document.querySelectorAll('table tbody tr');

        // Lặp qua từng hàng và kiểm tra xem hàng đó có được chọn không
        rows.forEach(row => {
            const checkbox = row.querySelector('input[type="checkbox"]');
            if (checkbox.checked) {
                // Nếu hàng đó được chọn thì thêm vào danh sách các dòng đã chọn
                selectedRows.push(row);
            }
        });

        // Kiểm tra xem có dòng nào được chọn không
        if (selectedRows.length === 0) {
            alert("Vui lòng chọn tag trước khi xóa.");
        } else {
            // Hiển thị hộp thoại xác nhận xóa
            if (confirm("Bạn có chắc chắn muốn xóa những tag này?")) {
                // Xóa các dòng đã chọn
                for (const row of selectedRows) {
                    let res = await fetch('/category', {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json',
                            'Accept': 'application/json'
                        },
                        body: JSON.stringify({
                            id: row.querySelector('input[type="checkbox"]').value
                        })
                    });
                }
            }
            window.location.reload();
        }

        // Xóa danh sách các dòng đã chọn
        selectedRows = [];
    }
</script>

<!-- Chinh sua bai danh muc -->
<script>
    // Lấy các phần tử HTML cần sử dụng
    const editModalNameInput = document.querySelector('#edit-modal-name');

    let idCat;

    // Định nghĩa hàm để mở modal chỉnh sửa
    function openEditModal(id, name) {
        idCat = id;
        editModalNameInput.value = name;
    }

    // Định nghĩa hàm để lưu dữ liệu đã chỉnh sửa
    async function saveEdit() {
        // Lấy thông tin dữ liệu mới từ modal chỉnh sửa
        const newName = editModalNameInput.value;
        let res = await fetch('/category', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            body: JSON.stringify({
                id: idCat,
                name: newName
            })
        });
        if (res.status == 200) {
            if (confirm("Đã sửa danh mục thành công.")) {
                window.location.reload();
            }
        }
    }

</script>

<!-- Xử lý thêm mới danh mục -->
<script>
    const addModalNameInput = document.querySelector('#catName');

    // Lắng nghe sự kiện click của nút "Thêm" trên modal
    async function AddedTag() {
        // Lấy giá trị của các input
        let name = addModalNameInput.value;
        let res = await fetch('/category', {
            method: "post",
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            body: JSON.stringify({
                name
            })
        });
        if (res.status == 201) {
            if (confirm("Thêm danh mục mới thành công.")) {
                window.location.reload();
            }
        }
    };

</script>

{{!-- Xử lý hiện thanh phân trang --}}
<script>
    document.querySelectorAll('.pagination li').forEach(li => {
        li.classList.add('page-item');
    });

    document.querySelectorAll('.pagination a').forEach(a => {
        a.classList.add('page-link');
    });
</script>