<main>
    <div class='container' style='width: 80%;' onclick="handleOnclickBody()">
        {{#with news}}
        <h2 class='mx-3 mb-5'>{{title}}</h2>
        <form action="/edit/accept/{{id}}" method="post">

            <div class="row">
                <label for="category" class="form-label col-2">Chuyên mục :</label>
                <select id="category" class="col-9" name="category"> 
                    {{#each ../category}}
                    {{#if (equal id ../categoryId)}}
                    <option value="{{id}}" selected>{{name}}</option>
                    {{else}}
                    <option value="{{id}}">{{name}}</option>
                    {{/if}}
                    {{/each}}
                </select>
            </div>
            
            <hr>
            <div class="row shadow">
                <label for="tag" class="form-label col-2">Tag :</label>
                <input class="col-9" readonly id="tag" value="{{tag}}" name="tags">
                <i class="btn bi bi-pencil-fill col-1" id="tagBtn"></i>
            </div>

            <hr>
            <div class="row shadow">
                <label for="time" class="form-label col-2"> Thời gian xuất bản :</label>
                <input type='date' class="col-9" readonly id="time" value="{{publishDate}}" name="publishDate">
                <i class="btn bi bi-pencil-fill col-1" id="timeBtn"></i>
            </div>
            <div class='m-auto text-center'>
                <button type="submit" class=" text-center  btn btn-primary mt-3 px-3"> Duyệt</button>
            </div>
        </form>
        {{#if acceptMessage}}
        <div class="alert alert-danger m-2">
            {{{acceptMessage}}}
        </div>
        {{/if}}
        {{/with}}
        <div class="text-end mt-3">
            <a href="/listNews">Trở về trang chính</a>

        </div>
    </div>

    <script>
        function handleOnclickBody() {

            let tag = document.getElementById('tag');
            let tagBtn = document.getElementById('tagBtn');
            let time = document.getElementById('time');
            let timeBtn = document.getElementById('timeBtn');
            switch (event.target) {
                case tagBtn:
                    tag.readOnly = false;
                    break;
                case timeBtn:
                    time.readOnly = false;
                    break;
                case tag:
                    break;
                case time:
                    break;
                default:
                    tag.readOnly = true;
                    time.readOnly = true;

            }

        }

    </script>
</main>