<main>
    <div class="user-news-details__article-info">
        <img class="user-news-details__main-image" src="{{news.largeImagePath}}" alt="{{news.title}}">
        <div class="user-news-details-article-info__black-cover"></div>
        <div class="user-news-details-article-info__overlay-content">
            <div style="display: flex; width: 100%; justify-content: space-between">
                <div style="display: flex; gap: 10px">
                    {{#if news.isPremium}}
                    <span class="user-news__premium-badge">Premium</span>
                    {{/if}}
                    <span><a href="/news?subCategoryId={{news.categoryId}}">{{news.SubCategory.name}}</a></span>
                </div>
                {{#if news.isPremium}}
                {{#if authenticatedUser.isPremium}}
                <div class="dropdown open user-news-details__premium-feature">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="triggerId"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Premium
                    </button>
                    <div class="dropdown-menu" aria-labelledby="triggerId">
                        <button class="dropdown-item"><a href="/news/{{news.id}}?export=true">Tải xuống PDF</a></button>
                    </div>
                </div>
                {{/if}}
                {{/if}}
            </div>
            <h1>{{news.title}}</h1>
            <h5>{{news.abstract}}</h5>
            <p>{{news.Writer.pseudonym}} - {{news.updatedAtString}}</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="user-news-details__tag-list">
                    Nhãn:
                    {{#each news.Tags}}
                    <span><a href="/news?tagId={{id}}">{{name}}</a></span>
                    {{/each}}
                </div>
                <div style="display: flex; justify-content: center; width: 100%;">
                    <img class="user-news-details__content-image" src="" alt="">
                </div>
                <div class="user-news-details-content">
                    <img class="user-news-details__content-image" src="{{news.largeImagePath}}" alt="{{news.title}}">
                    {{{news.content}}}
                    {{#if news.youtubePath}}
                    <iframe class="user-news-details__content-youtube-iframe" width="560" height="315"
                        src="{{news.youtubePath}}" title="{{news.title}}" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen>
                    </iframe>
                    {{/if}}
                </div>
                <form id="comment-form" class="user-news-details__comment-form-container" action="/news/{{news.id}}"
                    method="post">
                    <textarea name="content" id="comment-input" cols="30" rows="5" placeholder="Bình luận của bạn"
                        form="comment-form" required></textarea>
                    {{#if isLoggedIn }}
                    <button class="user-news-details__comment-submit-button">
                        Bình luận
                    </button>
                    {{else}}
                    <button
                        class="user-news-details__comment-submit-button user-news-details__comment-submit-button--disabled"
                        disabled>
                        Cần đăng nhập để bình luận
                    </button>
                    {{/if}}
                </form>
                <h3>{{commentCount}} Bình luận</h3>
                <div class="comments-list">
                    {{#each comments}}
                    <div class="user-news-details__comment">
                        <img src="{{User.avatarPath}}" width="75px" height="75px" alt="{{User.fullName}}">
                        <div class="user-news-details__comment-content">
                            <p>{{User.fullName}}</p>
                            <p>{{updatedAtString}}</p>
                            <p>{{content}}</p>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{#if hasComment}}
                <nav class="user-news-details__comment-pagination-container" aria-label="Page navigation">
                    {{{ createPagination pagination paginationClass='pagination' leftText='Trước' rightText='Sau'}}}
                </nav>
                {{/if}}
            </div>
            <div class="col-3">
                <h3 class="mt-5">Tin liên quan</h3>
                <div id="related-news" class="carousel slide" data-bs-ride="carousel">
                    <ol class="carousel-indicators user-news-details__carousel-indicators">
                        <li data-bs-target="#related-news" data-bs-slide-to="0" class="active" aria-current="true"
                            aria-label="First slide"></li>
                        <li data-bs-target="#related-news" data-bs-slide-to="1" aria-label="Second slide"></li>
                        <li data-bs-target="#related-news" data-bs-slide-to="2" aria-label="Third slide"></li>
                        <li data-bs-target="#related-news" data-bs-slide-to="3" aria-label="Fourth slide"></li>
                        <li data-bs-target="#related-news" data-bs-slide-to="4" aria-label="Fifth slide"></li>
                    </ol>
                    <div class="carousel-inner user-news-details__carousel-inner" role="listbox">
                        {{#each relatedNews}}
                        <div class="carousel-item user-news-details__carousel-item">
                            <div class="user-news-details__carousel-overlay-content">
                                <a href="/news?subCategoryId={{SubCategory.id}}">
                                    <div class="category-badge" style="background-color: {{categoryColor}};">
                                        {{SubCategory.name}}</div>
                                </a>
                                <a href="/news/{{id}}">
                                    <p>{{title}}</p>
                                </a>
                                <small>{{updatedAtString}}</small>
                            </div>
                            <div class="user-news-details__carousel-blackcover"></div>
                            <img src="{{tinyImagePath}}" width="100%" height="100%" class="d-block" alt="{{title}}">
                        </div>
                        {{/each}}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#related-news"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#related-news"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    document.querySelector('.user-news-details__carousel-item:first-child').classList.add('active');
</script>