<main class="container">
    <div class="row" style="display: flex; justify-content: space-between;">
        <div class="col-8">
            <div class="row mt-3 flex-row align-items-center">
                <div class="col-4 align-self-start">
                    <h5 class="mb-0 mt-1">Chuyên mục:</h5>
                </div>
                <div class="col-8">
                    <div class="user-news__categories">
                        {{#if showAllCategories}}
                        <span class="btn btn-primary user-news__active-category"><a href="/news">Tất cả</a></span>
                        {{else}}
                        <span class="btn btn-primary"><a href="/news">Tất cả</a></span>
                        {{/if}}
                        {{#each categories}}
                        {{#if isActive}}
                        <span class="btn btn-primary user-news__active-category"><a
                                href="/news?categoryId={{id}}">{{name}}</a></span>
                        {{else}}
                        <span class="btn btn-primary"><a href="/news?categoryId={{id}}">{{name}}</a></span>
                        {{/if}}
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="row mt-3 flex-row align-items-center">
                <div class="col-4 align-self-start">
                    <h5 class="mb-0 mt-1">Chuyên mục con:</h5>
                </div>
                <div class="col-8">
                    <div class="user-news__categories">
                        {{#if showAllSubCategories}}
                        <span class="btn btn-primary user-news__active-category"><a
                                href="/news?categoryId={{activeCategory}}">Tất cả</a></span>
                        {{else}}
                        <span class="btn btn-primary"><a href="/news?categoryId={{activeCategory}}">Tất cả</a></span>
                        {{/if}}
                        {{#each subCategories}}
                        {{#if isActive}}
                        <span class="btn btn-primary user-news__active-category"><a
                                href="/news?subCategoryId={{id}}">{{name}}</a></span>
                        {{else}}
                        <span class="btn btn-primary"><a href="/news?subCategoryId={{id}}">{{name}}</a></span>
                        {{/if}}
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="user-news__article-list">
                {{#each news}}
                {{#if isPremium}}
                <div class="user-news__article user-news__article--premium">
                    <img src="{{tinyImagePath}}" width="250px" height="100%" alt="{{title}}">
                    <div class="user-news__article-info">
                        <div style="display: flex; gap: 10px">
                            <div class="user-news__article-category user-news__premium-badge">
                                Premium
                            </div>
                            <div class="user-news__article-category" style="background-color: {{categoryColor}};">
                                <a href="/news?subCategoryId={{SubCategory.id}}">{{SubCategory.name}}</a>
                            </div>
                        </div>
                        <h5 class="user-news__article-title"><a href="/news/{{id}}">{{title}}</a></h5>
                        <p class="user-news__article-intro">{{shortAbstract}}</p>
                        <small class="article-date">{{updatedAtString}}</small>
                        <div class="user-news__article-tags row">
                            {{#each Tags}}
                            <div class="user-news-item__tag">{{name}}</div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                {{else}}
                <div class="user-news__article">
                    <img src="{{tinyImagePath}}" width="250px" height="100%" alt="{{title}}">
                    <div class="user-news__article-info">
                        <div class="user-news__article-category" style="background-color: {{categoryColor}};">
                            <a href="/news?subCategoryId={{SubCategory.id}}">{{SubCategory.name}}</a>
                        </div>
                        <h5 class="user-news__article-title"><a href="/news/{{id}}">{{title}}</a></h5>
                        <p class="user-news__article-intro">{{shortAbstract}}</p>
                        <small class="article-date">{{updatedAtString}}</small>
                        <div class="user-news__article-tags row">
                            {{#each Tags}}
                            <div class="user-news-item__tag">{{name}}</div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                {{/if}}
                {{/each}}
            </div>
            <nav class="user-news-details__comment-pagination-container" aria-label="Page navigation">
                {{{ createPagination pagination paginationClass='pagination' leftText='Trước' rightText='Sau'}}}
            </nav>
        </div>
        <div class="col-3 user-news__col-select-tag">
            <h5>Danh sách nhãn</h5>
            <div class="user-news__tag-select row">
                {{#each tags}}
                {{#if isActive}}
                <div class="user-news__tag user-news__active-tag">{{name}}</div>
                {{else}}
                <div class="user-news__tag"><a href="/news?tagId={{id}}">{{name}}</a></div>
                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</main>